{% extends "homeworkhub_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="profileForm" class="ml-5 mt-4 surround">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="mb-2 registerTitle">
        Update your profile
      </legend>
      {{ u_form|crispy }}
      {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        Update
      </button>
    </div>
  </form>
</div>

{% endblock content %}