{% extends "homeworkhub_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="registerForm" class="ml-5 mt-4 surround">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="mb-2 registerTitle">
        Sign up!
      </legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-light" type="submit">
        Sign up
      </button>
    </div>
  </form>
  <div class="pt-3">
    <small class="text-muted">
      Already have an account? <a class="ml-2" href="#">Sign in</a>
    </small>
  </div>
</div>

{% endblock content %}